<!-- Content -->
<div class="hero-unit">
	De una forma fácil y segura, puede contribuir usando su tarjeta de crédito presionando "Donate" arriba.
	<BR><BR>
		Puede también enviar su donación por correo enviando su cheque o "money order" remitido a “Perth Amboy Juan Pablo Duarte Committee” a la dirección siguiente:
	<BR><BR>
	<strong>
	PERTH AMBOY JUAN PABLO DUARTE COMMITTEE<BR>
	P.O. BOX 2621<BR>
	PERTH AMBOY, NEW JERSEY 08862
	</strong>
	<BR><BR>
	Usted o la institución que usted representa puede ser parte de este importante símbolo patrio Dominicano.  No deje pasar esta oportunidad de aportar un grano de arena para un legado histórico bello e importante.  Contamos con su máxima colaboración. Recibe nuestras gracias anticipadamente.
	<BR><BR>
	El Comité está en proceso preparativo del presupuesto final para el proyecto. Hasta el presente, el Comité ha recaudado aproximadamente $61,000.00.
	<BR><BR>
	<span style="color: #FF0000">!NECESITAMOS TU AYUDA!</span>
</div>

	<blockquote>
	<p>Trabajemos por y para la Patria que es trabajar para nuestros hijos y para nosotros mismos</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>