<!-- Content -->
<div class="hero-unit">
El Comité Juan Pablo Duarte manifiesta las más expresivas gracias a todos los que hicieron el Monumento a Juan Pablo Duarte una realidad.  En especial a la Honorable Alcaldesa, Wilda Diaz, porque sin su apoyo no hubiese sido posible esta obra y al honorable alcalde Brian Stack por su donación del busto que ahora es parte del Monumento. A los concejales presentes y anteriores que dieron su voto de apoyo.  A los ingenieros de la compañía Feist Engineering. A los arquitectos ASA+Zambranos quienes, en unión con el Comité, diseñaron el Monumento. A la firma de Contabilidad CSI Tax Group, A la firma de abogados Vazques Law Firm. A la compañía manufacturera del Monumento, Marveleous Marble Design. A la compañía instaladora del Monumento, Holland Construction. A Celebrate Perth Amboy por falilitarnos su organización cuando el Comité no contaba con su entidad 501c(3). A los negocios que, ya sea en una, o en múltiples ocasiones, donaron o auspiciaron nuestros eventos de recaudación de fondos. A todas las personas quienes con su trabajo, sus donaciones o con su participación en estos eventos nos apoyaron. A todos, muchas gracias.
</div>

	<blockquote>
	<p>Trabajemos por y para la Patria que es trabajar para nuestros hijos y para nosotros mismos</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>