<div class="hero-unit">
	<%= link_to image_tag("http://www.vazquezfirm.com/home/Vazquez_LH_Plain%20%281%29.jpg", :class => "img-polaroid", :style => "border: 1px solid #CCC"), "http://constructionlawupdates.com/", :target => "_blank" %>
	<BR>
	<%#= link_to "The Vazquez Law Firm" %>
</div>