<!-- Content -->
<div class="hero-unit">
	La comunidad de Perth Amboy organiz贸 <%= link_to "varios eventos", inauguracion_path %> pro recaudaci贸n de fondos para el memorial a Juan Pablo Duarte. Damos las gracias a los auspiciadores y a todos los que de una forma u otra colaboraron con estos eventos.
</div>

	<blockquote>
	<p>La naci贸n Dominicana es la reuni贸n de todos los Dominicanos</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>