<!-- Content -->
<div class="hero-unit">
		EL PRIMER PICAZO DEL MONUMENTO A JUAN PABLO DUARTE SE LLEVO A CABO EN LA PLAYITA, (HIGH ST Y SADOWSKI PARKWAY) PERTH AMBOY, NJ
	<BR><BR>
	EL SABADO, JULIO 28, 2012 - 3:00PM
	<BR>
	________________________________________
	<BR><BR>
		La comunidad de Perth Amboy ha organizado varios eventos pro recaudación de fondos para el memorial a Juan Pablo Duarte. Damos las gracias a los auspiciadores y a todos los que de una forma u otra han colaborado con estos eventos.
</div>
	
	<blockquote>
	<p>La nación Dominicana es la reunión de todos los Dominicanos</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>