<!-- Content -->
<div class="hero-unit">
	El Comité  está trabajando arduamente para terminar este memorial lo más pronto posible. Una colaboración significante personal o de su organización puede influenciar el material usado y la rapidez en que se termine la construcción de este monumento.
</div>

	
	<blockquote>
	<p>Pasarás de la idea de bien a su realización</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>