<!-- Content -->
<div class="hero-unit">
	La inauguración del Memorial tomará lugar el 27 de septiembre del 2014. Contamos con tu presencia.
	<BR>
	<BR>
	Para obtener más información, consulte nuestra
	<%= link_to "página de eventos", eventos_path %>
</div>


	<blockquote>
	<p>Pasarás de la idea de bien a su realización</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>