<!-- Content -->
<div class="hero-unit">
	La inauguración del Memorial tomará lugar en el 2014. Muy pronto tendremos más información al respecto.
</div>


	<blockquote>
	<p>Pasarás de la idea de bien a su realización</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>