<!-- Content -->
<div class="hero-unit">
	<strong>Estudiantes Dominicanos y amigos,</strong>
	<BR><BR>
	El Monumento a Juan Pablo Duarte, fundador de la República Dominicana, hará honra a la historia de este gran prócer, y vinculará  a nuestros jóvenes con nuestra herencia Dominicana motivándolos a cultivar los valores Duartianos.
	<BR><BR>
	Además, este monumento servirá de reconocimiento a los tantos
	Dominicanos e instituciones Dominicanas, incluyendo a los estudiantes, que han ofrecido y continuarán brindando grandes
	contribuciones a los Estados Unidos y al mundo.
	<BR><BR>
	Te invitamos a ser parte de la historia del Dominicano en los Estados Unidos colaborando con $20 o más para este memorial.
	<BR><BR>
	Por favor invita a tus amigos a hacer lo mismo y haremos una cadena de fuerza que hará la diferencia.   Pasa la voz a
	organizaciones Dominicanas y  a tus amigos de Facebook, Twitter, MySpace, etc.
	<BR><BR>
	Incluiremos tu nombre en el registro de donantes  y recibirás un pase para asistir al evento de dedicatoria del Monumento!
</div>

	<blockquote>
	<p>Seguid, jóvenes amigos, dulce esperanza de la patria mía, seguid con tesón y ardor en la hermosa carrera que habéis emprendido y alcanzad la gloria de dar cima a la grandiosa obra de nuestra regeneración política, de nuestra independencia nacional, única garantía de las libertades patrias</p>
	<small>Juan Pablo Duarte</small>
	</blockquote>